.features9.platformm5 {
  position: relative;
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.features9.platformm5 .row {
  width: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.features9.platformm5 .bg-frame-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.features9.platformm5 .bg-frame {
  position: absolute;
  bottom: -15%;
  right: -7%;
  opacity: 0.7;
  width: 49vw;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #B29C87;
  box-shadow: 0 0 40px #B29C87;
  filter: blur(130px);
}

@media (max-width: 1199px) {
  .features9.platformm5 .bg-frame {
    width: 98vw;
  }
}

.features9.platformm5 .img-bg-container {
  flex-grow: 1;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  min-height: 400px;
  border-radius: 30px;
  padding: 80px 80px 40px;
  overflow: hidden;
  background-color: #393400;
}

@media (max-width: 991px) {
  .features9.platformm5 .img-bg-container {
    padding: 60px 60px 40px;
  }
}

@media (max-width: 767px) {
  .features9.platformm5 .img-bg-container {
    padding: 40px 40px 20px;
  }
}

.features9.platformm5 .text-wrap {
  position: relative;
  z-index: 10;
  width: 55%;
}

@media (max-width: 1199px) {
  .features9.platformm5 .text-wrap {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.features9.platformm5 .mbr-section-title {
  color: #FFFFFF;
  margin-bottom: 40px;
}

.features9.platformm5 .mbr-section-subtitle {
  color: #FFFFFF;
  margin-bottom: 0;
}

.features9.platformm5 .mbr-section-btn {
  margin-top: 1.5rem;
}

.features9.platformm5 .img-wrap {
  position: relative;
  width: 45%;
}

@media (max-width: 1199px) {
  .features9.platformm5 .img-wrap {
    width: 100%;
  }
}

.features9.platformm5 .item-img-frame-before {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #AAFC75;
  box-shadow: 0 0 40px #AAFC75;
  filter: blur(120px);
}

.features9.platformm5 .item-img {
  position: relative;
  z-index: 3;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .features9.platformm5 .item-img {
    width: 100%;
  }
}

.features9.platformm5 .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.features9.platformm5 .item-img-frame-after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #232000, transparent);
  pointer-events: none;
}